body{
    background-color: rgb(30, 190, 142);
  }
  h1  {
        color: black;
        font-size: 45pt;
        font-weight: 150;
        text-decoration: wavy;
    }
  td, th{
    border: 4px solid blue;
    padding: 20px;
  
  }
  table{
  border-spacing: 0px;
  }
  th{
  background-color: green;
  font-size: 18px;
  }
  h2, h3, h4 {
    color: darkslategray;
    font-size: 30pt;
    font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  }
  img {
    width: auto;
    border-radius: 0cap;
    filter: none;
  }
  html {
    text-align: center;
  }